.card
    width: 500px
    margin: auto
    background-color: #3c424a
    color: #e8eaed

    .card-body
        padding: 50px

    .todo-list
        padding-top: 10px
        border-top: 3px solid #343940
        margin-top: 2rem